{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	<div id="fond_titre">
        <h1>Inscription</h1>
    </div>

	<div id="inscription">
		<h2>Création de compte</h2>
		<div id="page_inscription">
			<div id="page_inscription_all">
				<div>
					{{ form_errors(registrationForm) }}
					{{ form_start(registrationForm) }}
						{{ form_row(registrationForm.nom) }}
						{{ form_row(registrationForm.prenom) }}
						{{ form_row(registrationForm.email) }}
						{{ form_row(registrationForm.fone) }}
						{{ form_row(registrationForm.adresse_facturation) }}
						{{ form_row(registrationForm.adresse_livraison) }}
						{{ form_row(registrationForm.ville) }}
						{{ form_row(registrationForm.ref) }}
						{{ form_row(registrationForm.type) }}
						{{ form_row(registrationForm.siret) }}
						{{ form_row(registrationForm.coef) }}
						{{ form_row(registrationForm.cp) }}
						{{ form_row(registrationForm.plainPassword) }}

						{{ form_row(registrationForm.agreeTerms) }}
				</div>

				<div id="form_btn_incription">
					<button type="submit">Créer mon compte</button>
				</div>
				<div id="form_btn_connexion_incription">
					<a href="{{path('app_login')}}">Déjà un compte ?</a>
				</div>
				{{ form_end(registrationForm) }}
			</div>
		</div>
	</div>

{% endblock %}
