{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <div id="fond_titre">
        <h1>Liste de tous les produits</h1>
    </div>

	<div id="page_produit_all">
		<div id="page_produit">
			<div id="nvx_produits">
                <h5>Nouveaux Produits</h5>
                <div id="gap">
                    {% for nouveauProduit in nouveauxProduits %}
                        <div class="nvx_produit">
                            <a href="{{ path('app_produit_detail', { produit: nouveauProduit.id }) }}">
                                <div>
                                    <div>
                                        <img src="{{ asset('/assets/image/') ~ nouveauProduit.photo }}" alt="photo produit">
                                    </div>
                                    <div>
                                        <p class="nvx_produit_lib">{{ nouveauProduit.libelle }}</p>
                                        <p class="nvx_produit_prix">{{ nouveauProduit.prix }} €</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
			<div id="produits">
				{% for produit in produits %}
					<div class="produit">
						<a href="{{ path('app_produit_detail', { produit: produit.id }) }}">
							<div class="">
								<img src="{{ asset('/assets/image/') ~ produit.photo}} " class="card-img-top"/>
								<div class="produit_lib_desc_prix">
									<p class="produit_lib">{{produit.libelle}}</p>
                                    <p class="produit_desc">{{produit.description}}</p>
                                    <p class="produit_prix">{{produit.prix}} €</p>
								</div>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}