{% extends 'base.html.twig' %}

{% block title %} SousRubrique{% endblock %}

{% block body %}
	<div id="fond_titre">
        <h1>{{rubrique.nom}}</h1>
    </div>

    <div id="page_rubrique_all">
        <div id="page_rubrique">
            <div id="nvx_produits">
                <h5>Nouveaux Produits</h5>
                <div id="gap">
                    {% for nouveauProduit in nouveauxProduits %}
                        <div class="nvx_produit">
                            <a href="{{ path('app_produit_detail', { produit: nouveauProduit.id }) }}">
                                <div>
                                    <div>
                                        <img src="{{ asset('/assets/image/') ~ nouveauProduit.photo }}" alt="photo produit">
                                    </div>
                                    <div>
                                        <p class="nvx_produit_lib">{{ nouveauProduit.libelle }}</p>
                                        <p class="nvx_produit_prix">{{ nouveauProduit.prix }} €</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div id="rubriques">
                {% for SousRubrique in sousRubriques %}
                    <div class="rubrique">
                        <a href="{{ path('app_produit_sous_rubrique', { sousrubrique: SousRubrique.id }) }}">
                            <div>
                                <img src="{{ asset('/assets/image/') ~ SousRubrique.image}}"/>
                                <div>
                                    <h5>{{ SousRubrique.nom|u.truncate(25, '..') }}</h5>
                                </div>
                            </div>            
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="publicite_instagram_all">
		<div id="publicite_instagram">
			<h3>@the_twins_shop</h3>
			<p>Exprime ta personnalité à travers ton look et partage-le en identifiant @the_twins_shop et #the_twins_shop sur instagram.</p>
			<p>Plein de nouveautés à découvrir chaque mois et des offres exclusives pour nos followers</p>
			<div>
				<a href="#">SUIVEZ-NOUS</a>
			</div>
		</div>
	</div>

{% endblock %}
