{% extends 'base.html.twig' %}

{% block title %}The-Twins-Shop_Contact
{% endblock %}

{% block body %}
	<div id="fond_titre">
        <h1>Contactez-nous</h1>
    </div>

	<div id="page_form_contact">
		<div id="page_contact_informations">
			<div id="page_contact_titre_informations">
				<h3>Informations</h3>
			</div>
			<div id="page_contact_contenue_informations">
				<div id="page_contact_informations_adresse">
					<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
						<path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
					</svg>
					<p>Maison Des Meches 19 Avenue Graham Bell 77600 BUSSY ST GEORGES France</p>
				</div>
				<div id="page_contact_informations_mail">
					<svg id="icon_mail" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
						<path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z"/>
					</svg>
					<div>
						<h5>Envoyez-nous un e-mail</h5>
						<p>service-client@the-twins-shop.fr</p>
					</div>
				</div>
			</div>
		</div>

		<div id="form_contact">
			<div class="row">
				{{ form_label(form.email, 'Adresse e-mail') }}
				{{ form_widget(form.email, {'attr': {'class':'formInput75 contactInput'}}) }}
				{{ form_errors(form.email, {'attr': {'class':'formContactErrors'}}) }}

				{{ form_label(form.message, 'Votre message') }}
				{{ form_widget(form.message, {'attr': {'class':'contactMessage'}}) }}
				{{ form_errors(form.message, {'attr': {'class':'formContactErrors'}}) }}
			</div>
			<div>
				{{ form_row(form.save, {'attr': {'class':'form_contact_btn'}}) }}
			</div>
		</div>
	</div>

	<div id="publicite_instagram_all">
		<div id="publicite_instagram">
			<h3>@the_twins_shop</h3>
			<p>Exprime ta personnalité à travers ton look et partage-le en identifiant @the_twins_shop et #the_twins_shop sur instagram.</p>
			<p>Plein de nouveautés à découvrir chaque mois et des offres exclusives pour nos followers</p>
			<div>
				<a href="#">SUIVEZ-NOUS</a>
			</div>
		</div>
	</div>
{% endblock %}
